#feed h2{
    margin-left: 18px;

}
.feedback_line{
    display: list-item;
    list-style: none;
    width: 85%;
    height: 60px;
    margin-left: 5%;
    border: 3px solid black;
}
#feed4{
    height: 105px;
}
#feed4 #send{
    padding: 5px 10px;
    border-radius: 0px;
    margin-left: 70%;
}
#feed input{
    margin-top: 5px;
    padding: 6px 17px;
}
.feedback_line span{
    font-weight: bold;
    font-style: italic;
    margin-left: 2%;
}
.feedback_line button{
    margin-top: 5px;
    background-color: navy;
    color: white;  
    border-radius: 50%;
    text-align: center;
    text-decoration: none;    
 }
 .feedback_line input{
    width: 16px;
    border: 2px solid navy;
 }
.bt_less{
    margin-left: 2%;
    margin-right: 4%;
}
.bt_more{
    margin-left: 4%;
}
.feedback_line output{
    font-size: 15px;
    font-weight: bold;
}
#feed4 input{
    margin-left: 2%;
    width: 73.7%;
    border: 2px solid navy;
}