@font-face {
    font-family: 'breathe_fireregular';
    src: url('font/breathfire-webfont.woff2') format('woff2'),
         url('font/breathfire-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'the_wild_breath_of_zeldaRg';
    src: url('font/zelda-webfont.woff2') format('woff2'),
         url('font/zelda-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'spiral_initialsregular';
    src: url('font/spiri___-webfont.woff2') format('woff2'),
         url('font/spiri___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dungeonregular';
    src: url('font/dungrg__-webfont.woff2') format('woff2'),
         url('font/dungrg__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    margin: 0;
    padding: 0;
    font-family: dungeonregular;
    background-color: lightgrey;
    background-size: cover;   
}
.capa{
    width: 1288px;
    height: 260px;
    top: 0;
    left: 0;
    display: block;
}
.capa_img{
    width: 1288px;
    height: 260px;
    top: 0;
    left: 0;
    display: block;
}
nav{
    font-size: 20px;
    width: 100%;
    background: black;
    margin: 0;
    text-align: center;
    opacity: .8;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;  
}
nav ul li{
    display: inline-block;
    padding: 20px;
    cursor: pointer;
}
nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
}
nav ul li:hover{
    background-color:dimgray;
}
nav ul ul{
    position: absolute;
    width: 200px;
    background-color: green;
    margin-top: 20px;
    margin-left: -20px;
    text-align: left;
    display: none;
}
nav ul ul li{
    display: block;
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li a:hover{
    color:dodgerblue;
}
table, th, td {
    margin-top: 100px;
    border: 1px solid black;
}
th, td {
    padding: 5px;
    text-align: left;
}
#pwhat{
    font-family: dungeonregular;
    font-size: 25px;
    width: 75%;
    margin-left: 150px;
    padding-left: 30px;
    text-align:justify;
    
}
#pwhat > figcaption{
    text-align: center;
}
#pwhat > h1{
    font-size: 60px;
    text-align: center;
    font-family: breathe_fireregular; 
}
#pwhat > .imgwhat{
    width: 40%;
    display: block;
    margin: 0 auto;
}